<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<c:choose>
	<c:when test="${ not empty userId }">
		<a href="/user/logout">[로그아웃]</a>
		<a href="/user/update">[회원정보수정]</a>
	</c:when>
	<c:otherwise>
		<a href="/user/login">[로그인]</a>
		<a href="/user/create">[회원가입]</a>
	</c:otherwise>
</c:choose>
